$font-family-dinks: "Times New Roman";
$font-family-menu: "Verdana";
$font-family-desc: "Arial";

$font-size-dinks: 16px;
$font-size-menu: 10px;
$font-size-desc: 32px;
$font-size-footer: 10px;

$font-weigth-dinks: 700;
$font-weight-desc: 700;